<div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('fos_user_security_login') }}"><strong><i class="icon-check icon-white"></i>Se connecter</strong></a>

            </li>
            
            
            
                  
            <li >
                <a href="{{ path('fos_user_registration_register') }}"><strong><i class="icon-hand-right icon-white"></i>S'inscrire</strong></a>
            </li>
        </ul>
</div>