<form action="{{ path('rechercheProduits') }}" method="POST" <span  class="navbar-form form-search add-on pull-right"  placeholder="Nos fruits et légumes">
    <br/>
    {{ form_widget(form.recherche) }}
    <button type="submit" class="btn active">Rechercher</button>
    {{ form_widget(form) }}
</form>

