<h4>Bonjour {{ utilisateur.username }}
<br />
Votre commande a été bien validé.
Vous pouvez accèder à votre facture sur votre espace client.
<br /><br />
<p>L'équipe de La Fraicheur des 4 saisons vous remerci pour votre commande.
Nous vous invitons à nous suivre sur notre page <a href="https://www.facebook.com/groups/1548017428567320/" title="Vous ne le regretterez pas !" target="_blank">Facebook</a> !!!!</p>
</h4>
<img src="{{ asset('http://www.saladexpress.ca/images/made/images/generic/fruit-legumes-coeur_400_400.jpg') }}" alt="fruit-legumes.png"/>

<h1>Nous vous servirons toujours avec Amour!!!
<br />
Cordialement :)
</h1>