{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
<h2>Pages creation</h2>
<div class="span9">
    

</div>
<div class="span10">
    
     
               {{ form_start(new_form) }}
                     
               {{ form_end(new_form) }}
    <ul class="record_actions">
     
            <a href="{{ path('adminPages_index') }}" class="btn btn-primary pull-rigth ">
                Retour
                             
            </a>
              
             <input type="submit" value="Edit" class="pull-left"/>
    </ul>
</div>
{% endblock %}